@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/******************************/
/* CUSTOM PROPERTY */
/******************************/
:root{
    /* colors */
    --green-light: #DCF9DF;
    --green: #2DC653;
    --green-dark: #4DA773;
    --black-70: #212529;
    --black-40: #848688;
    --white: #ffffff;
    --black: #000000;
    --red: #E54C4C;

    /* topography */
    --ff-work-sans: "Work Sans", sans-serif;
    

    --fs-1: 4.8rem;
    --fs-2: 4rem;
    --fs-3: 3.4rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fs-9: 1.3rem;
  
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;


    /* spacing */
    --section-padding: 35px;

    /* shadow */
    --shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    /* transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/******************************/
/* RESET */
/******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li { 
    list-style: none; 
}
a {
    text-decoration: none;
    color: inherit;
}
input,
button {
  background: none;
  border: none;
  font: inherit;
}
button { 
    cursor: pointer; 
}
html {
    font-family: var(--ff-work-sans);
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    background-color: var(--white);
    color: var(--black-70);
    font-size: 1.6rem;
    font-weight: var(--fw-500);
    line-height: 1.6;
}
::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
  
::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
  
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
/******************************/
/* REUSE STYLE */
/******************************/
.container{
    padding-inline: 15px;
}
.section {
    padding-block: var(--section-padding);
}
.h1,
.h2,
.h3,
.h2-large {
  color: var(--black-70);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
}

.h2 { font-size: var(--fs-3); }

.h2-large { font-size: var(--fs-2); }

.h3 { 
    font-size: var(--fs-4); 
}
.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.has-scrollbar {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-block-end: 15px;
    margin-bottom: -15px;
    scroll-snap-type: inline mandatory;
}
.scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar{
    display: none;
}
/* .has-scrollbar::-webkit-scrollbar-track,
.has-scrollbar::-webkit-scrollbar-thumb { background-color: transparent; }
  
.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
} 
.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 70%);
} */
.w-100 { width: 100%; }
[data-section] > * {
    transform: translateY(100px);
    opacity: 0;
    transition: var(--transition-3);
}
[data-section].active > * {
    transform: translateY(0);
    opacity: 1;
}
.hl{
    flex: 1;
    width: 100%;
    height: 1px;
    background-color: var(--green-dark);
}
/******************************/
/* HEADER */
/******************************/
.header {
    position: relative;
    padding-block-end: 80px;
}
.alert{
    background-color: var(--green-light);
    color: var(--black-70);
    font-size: var(--fs-7);
    font-weight: var(--fw-700);
    letter-spacing: 2px;
    text-align: center;
    padding-block: 8px;
}
.header-main{
    position: absolute;
    width: 100%;
    background-color: var(--white);
    padding-block: 26px;
    z-index: 4;
}
.header-main.active {
    position: fixed;
    top: -90px;
    bottom: auto;
    box-shadow: var(--shadow-1);
    transform: translateY(100%);
    transition: var(--transition-2);
}
.header-main.header-hide {
    box-shadow: none;
    transform: translateY(0);
}
.header-main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-open-btn{
    width: 26px;
    font-size: var(--fs-5);
}
.header-main ul{
    display: flex;
}
.header-main ul li{
    margin-inline: 5px;
    font-size: var(--fs-5);
}
.navbar .navbar-list{
    display: none;
}
.navbar .navbar-btn{
    width: 35px;
    height: 35px;
    padding: 5px;
    position: relative;
    margin-left: 10px;
    border-radius: 100%;
    background-color: var(--green-light);
}
.navbar .navbar-btn .count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -8px;
    right: -4px;
    border: 1px solid var(--black-70);
    border-radius: 50%;
    font-size: var(--fs-9);
    background-color: var(--white);
}
/******************************/
/* MOBILE NAVBAR */
/******************************/
.sidebar {
    z-index: 5;
}
.mobile-navbar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    padding: 25px 40px;
    z-index: 6;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
}
.mobile-navbar.active {
    visibility: visible;
    transform: translateX(0);
    transition: 0.4s var(--cubic-out);
}
.mobile-navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
.nav-close-btn {
    font-size: 28px;
}
.mobile-navbar .navbar-link{
    color: var(--black-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    letter-spacing: 1px;
    padding-block: 5px;
}
.mobile-navbar .navbar-link.active {
    color: var(--green);
}
.mobile-navbar .navbar-list li{
    margin-block: 15px;
}

.overlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    transition: var(--transition-1);
}
.overlay.active {
background-color: #0000007b;
pointer-events: all;
}

/******************************/
/* HERO */  
/******************************/
.hero {
    padding-block-start: 0;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-card {
    padding: 30px 15px;
    /* padding: 60px 15px; */
    background-position: 40%;
}
.hero-logo {
    width: fit-content;
    font-size: var(--fs-6);
    font-weight: var(--fw-800);
    /* margin-block: 10px; */
    background-color: var(--green-light);
}
.hero-title{
    font-weight: 800;
}
.hero-title span {
    color: var(--green);
}
.hero-btn {
    margin-block: 20px;
    font-size: var(--fs-8);
}
.hero-btn .hero-btn-1,
.hero-btn .hero-btn-2{
    font-weight: var(--fw-800);
    border-radius: 10px;
    padding: 6px 20px;
}
.hero-btn .hero-btn-1{
    background-color: var(--white);
    border: 2px solid var(--green-dark);
    margin-right: 10px;
}
.hero-btn .hero-btn-2{
    border: 2px solid var(--black);
    background-color: var(--green-light);
}
.hero-btn .hero-btn-2 i{
    margin-left: 5px;
}
.hero-stats {
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    display: flex;
    gap: 40px;
    margin-block: 40px;
}
.hero-stats .stat{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.hero-stats .stat .number{
    color: #2DC653;
    margin-right: 5px;
    font-size: var(--fs-6);
    font-weight: var(--fw-800);
}
.hero-text {
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
    max-width: 45ch; 
    margin-block: 40px;
}

/******************************/
/* SEARCH */
/******************************/
.search .section-title {
    max-width: 34ch;
    color: var(--green-dark);
    font-weight: var(--fw-400);
    margin-bottom: 40px;
}
.search .section-title span{
    font-weight: var(--fw-700);
}
.search .search-container {
    display: flex;
    gap: 10px;
}
.search .input-wrapper {
    display: flex;
    border: 2px solid var(--green-dark);
    border-radius: 8px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
}
.search .search-input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    flex: 1;
    outline: none;
}
.search .search-btn {
    font-size: var(--fs-5);
    background-color: var(--green-dark);
    border: none;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
}
.search .search-btn.btn {
    border-radius: 6px;
}

/******************************/
/* SHOP */
/******************************/
.shop .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    margin-bottom: 50px;
}
.shop .scrollbar-item{
    padding: 8px;
}
.shop-card {
    overflow: hidden;
    box-shadow: var(--shadow-1);
    border-radius: 15px;
}
.shop-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: var(--transition-1);
}
.shop-card .card-banner {
    position: relative;
    overflow: hidden;
}
.shop-card .card-actions {
    width: 100%;
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-6);
}
.shop-card .card-actions .action-text{
    font-weight: var(--fw-600);
    font-size: var(--fs-8);
}
.shop-card .card-actions .action-btn{
    width: 35px;
    height: 35px;
    border: 2px solid var(--black-70);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-5);
}
.shop-card .card-actions .action-btn:hover{
    color: var(--red);
    border-color: var(--red);
    transition: var(--transition-1);
}
.shop-card .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.shop-card .card-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.shop-card .card-text .card-title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.shop-card .card-title {
    color: var(--black);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    transition: var(--transition-1);
    margin-right: 8px;
}
.shop-card .price span {
    color: var(--black);
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
}
.shop-card .card-title:is(:hover, :focus) {
    text-decoration: underline;
}
.shop-card .card-cart {
    width: 50px;
    height:50px;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
}
.shop-card .card-cart:is(:hover, :focus) {
    color: var(--green);
    transition: var(--transition-1);
    border-color: var(--green);
}
.shop-card .card-cart {
    font-size: var(--fs-6);
}
.shop .btn-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 20px;
    font-size: var(--fs-6);
}
.shop .btn-link .span{
    margin-left: 10px;
}
/* .btn-link .hl{
    flex: 1;
    height: 1px;
    background-color: var(--green-dark);
    margin-right: 10px;
} */
  
/******************************/
/* ABOUT */
/******************************/
.about {
    text-align: center;
}
.about .section-title { 
    margin-bottom: 40px; 
}
.about-banner {
    position: relative;
    aspect-ratio: 1 / 1;
}
.about-img {
    max-width: max-content;
    height: auto;
    margin-inline: auto;
}
.about-title {
    max-width: 100%;
    width: 300px;
    margin-block: 40px 10px;
    margin-inline: auto;
}

/******************************/
/* CUSTOMER REVIEWS */
/******************************/
.customer-reviews .section-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    color: var(--green-dark);
}
.customer-reviews .section-title .hl{
    display: none;
    /* margin-left: 10px; */
}
.review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.review-container .review-right {
    height: 100%;
}
.review-container .review-card-1{
    height: 100%;
}
.review-container .review-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--green-light);
    padding: 40px 20px;
}
.review-card-1 .review-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.review-card-1 .review-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-card-1 .review-rating{
    font-size: var(--fs-4);
    font-weight: var(--fw-800);
}
.review-card-1 .review-rating span{
    color: var(--green);
    font-size: var(--fs-4);
    margin-right: 5px;
}

.review-card-1 .reviewer-name {
    font-size: var(--fs-4);
}
.review-card-2 {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--green-light);
}
.review-card-2 .average-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-card-2 .rating{
    display: flex;
    align-items: center;
    font-size: var(--fs-1);
    font-weight: var(--fw-800);
}
.review-card-2 .average-rating p {
    padding: 5px 10px;
    font-size: var(--fs-8);
    color: var(--white);
    background-color: var(--black-70);
    border-radius: 20px;
}
.review-card-2 .rating span{
    color: var(--green);
    font-size: var(--fs-4);
}
.review-card-2 .rating-breakdown {
    flex: 1;
    text-align: left;
    width: 100%;
}
.review-card-2 .rating-row {
    display: flex;
    align-items: center;
    /* margin-bottom: 2px; */
}
.review-card-2 .rating-row span{
    color: var(--green);
}
.review-card-2 .rating-bar{
    width: 100%;
    height: 10px;
    margin-left: 10px;
    overflow: hidden;
}
.review-card-2 .rating-bar .bar{
    height: 100%;
    border-radius: 8px;
    background-color: var(--green);
}
.review-card-3 {
    display: flex;
    background-color: var(--green-light);
    border-radius: 8px;
    padding: 20px;
    flex-shrink: 0;
    width: 100%;
}
.review-card-3 .review-avatar {
    width: 60px;
    height: 60px;
    background-color: var(--black-40);
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}
.review-card-3 .review-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-card-3 .review-content {
    display: flex;
    flex-direction: column;
    color: var(--black-70);
}
.review-card-3 .review-rating {
    color: var(--green);
    margin-bottom: 10px;
}
.customer-reviews .btn-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.customer-reviews .btn-link span{
    margin-left: 10px;
    font-size: var(--fs-6);
    cursor: pointer;
}

/******************************/
/* FAQ */
/******************************/
.faq .section-title {
    text-align: center;
    margin-bottom: 40px;
}
.faq-wrapper {
    border-bottom: 1px solid var(--green-dark);
    margin-bottom: 20px;
}
.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-header .faq-question{
    display: flex;
}
.faq-header .faq-question span{
    margin-right: 28px;
    color: var(--green-dark);
}
.faq-header .faq-question .span{
    margin-right: 28px;
    color: var(--green-dark);
}
.faq .faq-icon {
    font-size: var(--fs-4);
    transition: var(--transition-2);
}
.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition-2);
}
.faq-wrapper.active .faq-content {
    max-height: 300px;
}
.faq-wrapper.active .faq-icon {
    transform: rotate(180deg);
}

/******************************/
/* SUBSCRIBE */
/******************************/
.subscribe .container {
    text-align: center;
}
.subscribe .section-title{
    margin-bottom: 40px;
    color: var(--green-dark);
}
.subscribe .input-wrapper {
    display: flex;
    border: 2px solid var(--green-dark);
    border-radius: 8px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.subscribe .subscribe-input {
    border: none;
    padding: 10px 15px;
    flex: 1;
    outline: none;
}
.subscribe .subscribe-btn {
    background-color: var(--green-dark);
    border: none;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
}

/******************************/
/* FOOTER */
/******************************/
.footer {
    background-color: var(--green-dark);
    color: var(--white);
    padding-block: 70px;
}
.footer-top {
    display: grid;
    gap: 40px;
    /* margin-bottom: 60px; */
}
.footer-list-title{
    color: var(--white);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    margin-bottom: 10px;
}
.footer-list-text { 
    font-size: var(--fs-8); 
    padding-block: 5px;
}
.footer-link {
    font-size: var(--fs-7);
    padding-block: 5px;
    cursor: pointer;
}
.footer-link:is(:hover, :focus) { 
    text-decoration: underline; 
}

/******************************/
/* MENU PAGE */
/******************************/
.menu .title-wrapper{
    background-color: var(--green-dark);
    color: var(--white);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.menu .container{
    text-align: center;
}
.menu .menu-img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid var(--green);
}

.menu .menu-btn{
    background-color: var(--green-dark);
    color: var(--white);
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.menu .menu-btn i{
    margin-left: 10px;
}

/******************************/
/* PRODUCTS PAGE */
/* CAROUSEL */
/******************************/
.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.slider{
    display: flex;
    width: 100%;
    aspect-ratio: 2 / 1;
    /* overflow-x: auto; */
    transition: var(--transition-3);
    scroll-snap-type: x mandatory;
    /* scroll-behavior: smooth; */
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider img{
    width: 100%;
    display: block;
    height: auto;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
}
.slider-nav .dot{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.75;
    cursor: pointer;
    transition: opacity ease 250ms;
}
/* .slider-nav .dot.active{
    opacity: 1;
} */


/******************************/
/* PRODUCTS PAGE */
/* PRODUCTS */
/******************************/
.products .search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.products .input-wrapper {
    display: flex;
    border: 2px solid var(--green-dark);
    border-radius: 8px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
}
.products .search-input {
    border: none;
    padding: 10px 15px;
    flex: 1;
    outline: none;
}
.products .search-btn {
    font-size: var(--fs-5);
    background-color: var(--green-dark);
    border: none;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
}
.products .search-btn.btn{
    border-radius: 6px;
}
.category{
    margin-bottom: 40px;
}
.category-list {
    overflow-x: auto;
    display: flex;
    gap: 10px;
}
.category-list::-webkit-scrollbar{
    display: none;
}
.category-item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid var(--black-70);
    border-radius: 20px;
}
.category-item:hover,
.category-item.active {
    color: var(--green-dark);
    border-color: var(--green-dark);
    transition: var(--transition-1);
}
.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 40px;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-7);
}
.page .page-number,
.page .page-btn {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    cursor: pointer;
}
.page .page-number.active {
    font-weight: var(--fw-600);
    border-radius: 100%;
    background-color: var(--green-light);
}

/******************************/
/* ABOUT PAGE */
/* ABOUT LANDING */
/******************************/
.about-landing {
    text-align: center;
}
.about-landing h2 {
    margin-bottom: 20px;
}
.about-landing img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
/******************************/
/* ABOUT PAGE */
/* STORY */
/******************************/
.story .image-gallary {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    /* flex-direction: column; */
}
.story .gallary-item {
    width: 20%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}
.story .gallary-item:nth-last-child(4):first-child {
    transform: rotate(-10deg);
    /* left: -100px; */
}
.story .gallary-item:nth-last-child(3):nth-child(2) {
    transform: rotate(5deg);
    /* left: -75; */
}
.story .gallary-item:nth-last-child(2):nth-child(3) {
    transform: rotate(10deg);
    /* left: 25px; */
}
.story .gallary-item:last-child:nth-child(4) {
    transform: rotate(-10deg);
    /* left: 100px; */
}

/******************************/
/* CART PAGE */
/* CART */
/******************************/
.cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart .title-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.cart .title-wrapper p{
    color: var(--green-dark);
    text-decoration: underline;
    cursor: pointer;
}
.cart-table{
    width: 100%;
}
.cart-table th{
    color: var(--green-dark);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
}
.cart-table th,
.cart-table td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid var(--black-40);
}
.cart-table td i {
    font-size: var(--fs-6);
    transition: var(--transition-1);
    cursor: pointer;
}
.cart-table td i:hover {
    color: var(--red);
}
.cart .product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.cart .product-image {
    width: 80px;
    height: 80px;
    background-color: var(--black-40);
    margin-right: 15px;
    border-radius: 4px;
}
.cart .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cart .product-details {
    display: flex;
    flex-direction: column;
}
.cart .product-name {
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    cursor: pointer;
}
.cart .product-name:hover {
    text-decoration: underline;
}
.cart .product-price {
    font-size: var(--fs-8);
}
.cart .quantity-controls {
    display: flex;
    width: auto;
    /* margin-inline: auto; */
    
    align-items: center;
}
.cart .quantity-btn-wrapper {
    display: flex;
    border: 1px solid var(--black-70);
    border-radius: 8px;
    overflow: hidden;
}
.cart .quantity-btn{
    width: 30px;
    height: 30px;
    background-color: var(--green-light);
    cursor: pointer;
}
.cart .quantity-input{
    width: 40px;
    text-align: center;
}
.cart .cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart .cart-summary p {
    font-size: var(--fs-4);
    margin-block: 30px;
}
.cart .cart-summary span{
    margin-left: 20px;
    font-weight: var(--fw-600);
}
.cart .checkout-btn {
    min-width: 100%;
    padding: 10px 40px;
    background-color: var(--green-dark);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}
/******************************/
/* SHOP PAGE */
/* PRODUCT-DETAILS */
/******************************/
.product-container {
    display: flex;
    flex-direction: column;
}
.product-details .product-image {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: var(--black-40);
    border: 1px solid var(--black-40);
}
.product-details .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-details .product-image .veg{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    margin: 10px;
}
.product-details .product-info {
    width: 100%;
}
.product-details .product-name {
    font-size: var(--fs-3);
}
.product-details .product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.product-details .product-rating .stars {
    color: var(--green);
    margin-right: 5px;
}
.product-details .product-price {
    font-size: var(--fs-4);
}
.product-details .product-price .product-weight{
    font-size: var(--fs-8);
}
.product-details .quantity-controls {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.product-details .quantity-btn-wrapper {
    /* height: 100%; */
    display: flex;
    align-items: center;
    border: 1px solid var(--black-40);
    border-radius: 8px;
}
.product-details .quantity-btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.product-details .quantity-input {
    width: 40px;
    height: 40px;
    background-color: var(--green-light);
    text-align: center;
    margin: 0 5px;
}
.product-details .add-to-cart-btn {
    /* width: 100%; */
    padding: 8px 30px;
    background-color: var(--green-dark);
    color: var(--white);
    border-radius: 6px;
    margin-left: 10px;
}
.product-details .available-sizes {
    font-size: var(--fs-5);
    margin: 30px 0 10px;
}
.product-details .size-options {
    display: flex;
}
.product-details .size-btn {
    padding: 5px 15px;
    border: 1px solid var(--black-70);
    border-radius: 8px;
    margin-right: 20px;
    transition: var(--transition-1);
}
.product-details .size-btn:hover {
    background-color: var(--green-light);
}
.product-details .size-btn:disabled {
    background-color: var(--white);
    color: var(--black-40);
    border-color: var(--black-40);
    cursor: not-allowed;
}
.product-details .delivery-section{
    margin: 30px 0;
}
.product-details .delivery-section i{
    color: var(--green-dark);
    margin-right: 10px;
}
.product-details .delivery-address {
    margin: 0 0 10px;
}
.product-details .address-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black-40);
    border-radius: 6px;
    margin-bottom: 10px;
}
.product-details .check-availability-btn {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--green-light);
    color: var(--black-70);
    border-radius: 6px;
}
.more-details .section-title {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    margin-bottom: 10px;
}
.section-description {
    margin-bottom: 20px;
    text-align: justify;
}
.ingredients-title {
    margin-bottom: 10px;
    font-weight: var(--fw-600);
}
.ingredients {
    margin-bottom: 20px;
}
.ingredient-item {
    max-width: 220px;
    padding: 8px;
    overflow: hidden;
}
.ingredient-item img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.ingredients-description {
    text-align: justify;
}
/******************************/
/* SHOP PAGE */
/* PRODUCT REVIEW */
/******************************/
.filter {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}
.filter-select {
    padding: 10px;
    font-size: var(--fs-7);
    font-weight: var(--fw-700);
    border: none;
    border-radius: 8px;
    background-color: #e2f2e2;
    cursor: pointer;
}
.give-review-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.give-review {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--black-40);
    border-radius: 8px;
    overflow: hidden;
}
.review-input {
    flex: 1;
    padding: 10px;
    /* border: 1px solid var(--black-40); */
}
.review-submit-btn {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--green-dark);
}

/******************************/
/* SIGNUP PAGE */
/* SIGNUP */
/******************************/
.signup .container {
    display: flex;
    justify-content: center;
}
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.signup .input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}
.signup-container label {
    top: 6px;
    position: absolute;
    transition: var(--transition-1);
}
.signup-container input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--black-70);
    }
.signup-container input:focus {
    outline: none;
    border-bottom: 2px solid var(--green-dark);
}
.signup-container input:focus + label ,
.signup-container input:valid + label {
    position: absolute;
    color: var(--black-40);
    top: -20px;
    font-size: var(--fs-8);
}
.signup-container .signup-btn {
    width: 100%;
    margin: 20px 0;
    color: var(--white);
    background-color: var(--green-dark);
    border-radius: 50px;
    padding: 10px 30px;
}
.signup-container .social-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-container .social-title{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.signup-container .social-title p{
    margin: 0 5px;
    color: var(--green-dark);
    }
.signup-container .social-title .hl{
    flex: 1;
    width: 100%;
    height: 1px;
    background-color: var(--green-dark);
}
.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.social-icon {
    font-size: var(--fs-4);
    color: #4DA773;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid var(--green-dark);
}
/******************************/
/* MEDIA QUERIES */
/******************************/
/* responsive for larger than 575px screen */
@media (min-width: 575px) {
    
    /* REUSED STYLES */
    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }
    .has-scrollbar { gap: 10px; }
    .scrollbar-item { min-width: calc(50% - 15px); }

    /* HEADER */
    .alert { 
        padding-block: 8px; 
    }
    .hero-stats .stat{
        flex-direction: row;
        align-items: center;
        /* gap: 10px; */
    }
    /* PRODUCT PAGE */
    /* products */
    .product-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {
    /* CUSTOM PROPERTY */
    :root {
        /* typography */
        --fs-1: 5.6rem;
    }
    
    /* REUSED STYLES */
    .container { 
        max-width: 730px; 
    }

    /* CUSTOMER-REVIEWS */
    .customer-reviews .section-title .hl{
        display: inline;
        margin-left: 10px;
    }
    .review-container{
        flex-direction: row;
    }

    /* ABOUT */
    .about .about-title {
        margin-top: 0;
    }
    .about-card {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
    }

    
    /* FOOTER */
    .footer-top { 
        grid-template-columns: repeat(3, 1fr); 
    }

    /* CART PAGE */
    /* CART */
    .cart .title-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .cart .product-info {
        flex-direction: row;
    }

    /* SIGNUP PAGE */
    /* signup */
    .signup-container {
        max-width: 400px;
    }

}

/* responsive for larger than 992px screen */
@media (min-width: 992px) {
    /* CUSTOM PROPERTY */
    :root{
        /* spacing */
        --section-padding: 50px;
    }
    
    /* REUSED STYLEs */
    .container { 
        max-width: 960px; 
    }
    .scrollbar-item { min-width: calc(33.33% - 30px); }
    
    /* CUSTOMER REVIEWS */
    .review-card-1 {
        width: 350px;
    }
    .review-card-2, .review-card-3 {
        width: 400px;
    }

    /* FOOTER */
    .footer { padding-block: 100px 80px; }

    /* PRODUCTS PAGE */
    /* products */
    .product-grid { grid-template-columns: repeat(3, 1fr); }

    /* SHOP PAGE */
    /* product-details */
    .product-details .product-container {
        flex-direction: row;
    }
    .product-details .product-info {
        width: 50%;
        margin-left: 40px;
    }
    .product-details .product-image {
        width: 50%;
    }

    /* SHOP PAGE */
    /* proudct review */
    .give-review-container {
        padding: 0 25%;
    }
}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {
    /* REUSED STYLEs */
    .container { 
        max-width: 1300px; 
    }
    /* .scrollbar-item { min-width: calc(20% - 24px); } */
    .scrollbar-item { min-width: calc(25% - 22px); }
    
    /* HEADER */
    .header-main .logo img{
        width: 280px;
        height: 30px;
    }
    .nav-open-btn { display: none; }
    .navbar{
        display: flex;
    }
    .navbar .navbar-list{
        display: flex;
    }
    .navbar .navbar-link {
        color: var(--black-70);
        font-size: var(--fs-6);
        font-weight: var(--fw-500);
        margin-left: 24px;
        transition: var(--transition-1);
    }
    .navbar .navbar-link.active {
        color: var(--green);
    }
    .navbar .navbar-link:hover{
        color: #2DC653;
    }
    .navbar .navbar-btn{
        margin-left: 24px;
    }
    
    /* HERO */
    .hero-card { padding: 100px 15px; }
    .hero-text { 
        font-size: var(--fs-7);
    }

    /* ABOUT */
    .about-card {
        gap: 60px;
        padding-inline: 100px;
    }

    /* PRODUCTS PAGE */
    /* products */
    .product-grid { grid-template-columns: repeat(4, 1fr); }

    /* CART PAGE */
    /* CART */
    .cart-wrapper {
        padding-inline: 20rem;
    }

    /* SHOP PAGE */
    /* product-details */
    .product-details .product-info {
        width: 60%;
    }
    .product-details .product-image {
        width: 40%;
    }
}